body {
    background-color: #f0f8f8;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 20px;
    padding: 1rem 8rem;
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.container {
    padding: 1rem 2rem;
}

.profile-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.btn-contact {
    background-color: blue;
    color: white;
    border-radius: 5%;
}

.btn-resume {
    border-color: green;
    color: green;
    border-radius: 5%;
}

.info {
    margin-left: 11rem;
}

.edit {
    padding: 20px;
    display: grid;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 0.3rem;
}

h6 {
    margin-top: 0.5rem;
}